h1{
  color: #33ffcc;
  font-family: system-ui;
  float:left;
  font-style: italic;
  align-items: center;
}
h2{
  color: grey;
  align: center;
  float:right;
}
body{
  background-attachment: fixed;
  background-image: url(../image/rider.gif);
}
img{
  height: 30%;
  width: 25%;
}
#io{
  float:right;
  background-color: #4dffd2;
  background-attachment: fixed;
}
#q{
  font-family: sytem-ui;
  text-decoration-color: #ffffff;
  background-image: url(../image/body.jpg);
}
.box{
  position:fixed,top:1px;
}
